@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    word-wrap: break-word;
  }

 body{
    background: #E5E5E5;
 }

 .formbcg {
    margin: 0px auto;
    width: 100%;
    margin-top: 5rem;
    max-width: 448px; 
}

.form-inner{
    background: white;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    border: 1px solid #D7DEDD;
    border-radius: 16px;
}

  .contact_header{
    color: #000000;
    display: block;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 15px;
    line-height: 30px;
}
.underline{
    border: 1px solid #D7DEDD;
    width: 320px;
  }

  .field{
    padding-top: 24px;
}


  label {
    margin-bottom: 10px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #333333;

}
input{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}

  
 
  .field input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    width: 320px;
    height: 40px;
    outline: none;
    border: none;
    background: #EDF5F4;
    border-radius: 6px;
  }
  
  input[type="submit"] {
    background-color: #DA4B26;
    color: #fff;
    cursor: pointer;
   
    
  }

 
 .submit_btn{
    font-size: 16px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
 

 }

 .label_image{
     margin-top: 3rem;
 }

 /* imge_upload */
 .image_outer {
     background: #c2c2c2;
    border-radius:6px; 
    text-align: center;
     height: 40px;
      width: 320px;
      
       display: inline-block;
       
    position: relative; overflow: hidden;}


 .img_upload {
     padding: 17px 30px 12px; 
     color: #000000; 
    text-align: center; 
    position: relative; 
    display: inline-block; 
    overflow: hidden; 
    z-index: 3;
    margin-top: -6px;
    font-size: 14px;
     white-space: nowrap;
     font-family: 'Outfit';
     font-style: normal;
     font-weight: 500;}



 .img_upload input {
     position: absolute; 
     width: 100%;
      left: 0;
       top: 0; 
       width: 100%;
        height: 105%; 
        cursor: pointer; 
        opacity: 0;}





